p {
    text-align: center;
}

body {
    text-align: center;
    background-color: blanchedalmond;
}

head {
    text-align: center;
}

h2 {
    font-style: italic;
}

.mainHeading {
    font-style: italic;
}